body {
  background-color: #101008;
  font-family: "Contrail One";
  font-size: 3.5vh;
  font-weight: 700;
  overflow-x: hidden;
  position: relative;
}

.navbar-custom {
  font-family: "Contrail One";
  font-size: 3.5vh;
  font-weight: 700;
  padding: 1vh;
  padding-bottom: 0;
}

nav {
  background: #101008;
}

.bg-dark {}

#nav-container {
  margin: auto;
  padding: 0;
  width: 150vh;
  border-bottom: 2px solid #b0b0ff;
}


main {
  position: absolute;
  left: -9999px;
  right: -9999px;
}

.bigcard {
  margin: auto;
  height: 100vh;
  width: 150vh;
  border: none;
}

.card-img {max-height: 100vh;}

#splash .card-img{filter: grayscale(100%);}

.card-img-overlay {
  max-width: 100vw;
  margin: auto;
  padding: 4vh;
}

h1, h2, h3, h4, h5, h6 {font-weight: 700;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.25em;}
.navbar-dark .navbar-brand {
  font-size: 2em;
  line-height: 85%;
  color: #b0b0ff;
}

.navbar-dark .navbar-nav .nav-link {color: #555590;}

#banner {
  font-size: 1.5em;
  }

#banner-left {top: 8vh;}

#banner-right {
  top: 8vh;
  text-align: right;
  }

#photo {
  margin-top: 30vh;
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  border: 5px solid #101008;
}

#portfolio {color: #b0b0ff;}

#portfolio .card-img-overlay {padding: 0;}

#portfolio .card-img-overlay .row {height: 78vh;}

#portfolio h2 {
  margin: 12vh 0 0 4vh;
  display: inline-block;
  padding: 5px 5px 0 5px;
  background-color: white;
}

table {
  width: 100%;
  height: 100%;
}

#portfolio table {font-size: 1.25em;}

.card-deck {
  margin-top: 10vh;
}

.project {
  background: #ffffff88;
  border: 2px solid #b0b0ff;
}

.project .btn {
  margin-top: 5px;
  width: 90%;
  font-size: 1em;
}

.project .card-text {
  font-size: 0.8em;
}

.project .card-text p {margin: 5px;}

#project1 {margin: 0;}

#project2 {
  margin-right: 0;
  visibility: hidden;
}

#rightside table {float: right;}

#contact {color: #ffffcc;}

#contact h2 {margin-top: 8vh;}

#contact table {
  width: 100%;
  height: 100%;
}

#contact h3 {
  text-align: center;
  background: linear-gradient(to right, #30303000, #30303080, #30303000);
  margin-top: -2vh;
  padding: 2vh 0 2vh 0;
}

.fa-layers:hover {color: #5555ee}

.social {
  font-size: 12.5vh;
  height: 16vh;
}

.social-fa {}

.social-icon {vertical-align: top;}

.social-icon:hover {
  font-size: 15vh;
}

#indeed {
  margin-left: -4px;
  margin-bottom: -6vh;
}

#indeed-icon {
  vertical-align: top;
  height: 12vh;
  width: 12vh;
}

#indeed-icon:hover {
  height: 14vh;
  width: 14vh;
}

#linkedin a {color: #0084bf}

#twitter a {color: #4ab3f4}

#github a {color: #24292e}

@media (min-width: 576px){
  body {font-size: 5vh;}

  #banner {
    white-space: nowrap;
    }

  #banner-right {top: 16vh;}

  .card-deck {margin-top: 0;}

  #project2 {visibility: visible;}


  #indeed {margin:0;}

  #contact h3 {
    white-space: nowrap;
    margin-top: 70vh;
    text-align: center;
  }

  .social {
    height: 30vh;
    padding-top: 25%;
    text-align: center;
  }
}
